<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>CadastrarGame</title>
</head>

<body>

    <h2>Cadastrar Game</h2>
    <form method="POST">

        Nome: <input type="text" value="" name="nome" />
        genero: <input type="text" value="" name="genero" />
        Preco: <input type="number" value="" name="preco" />
        Lancamento: <input type="date" value="" name="lancamento" />

        <button type="submit">Cadastrar</button>

    </form>

</body>

</html>